[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/f9kill/Desktop/bitmap.png]
row=5
col=0

[/home/f9kill/Desktop/kali-cuda-cracking-cloud.png]
row=1
col=1

[/home/f9kill/Desktop/senha_VIVO.txt]
row=3
col=0

[/home/f9kill/Desktop/senha_net.jpg]
row=4
col=0

[/home/f9kill/Desktop/backup.iso]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/f9kill]
row=2
col=0

