[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/f9kill/Desktop/Screenshot_2019-07-13_19-38-19.png]
row=4
col=0

[/home/f9kill/Desktop/nvidia.png]
row=0
col=0

[/home/f9kill/Desktop/Screenshot_2019-07-13_18-26-07.png]
row=2
col=0

[/home/f9kill/Desktop/proxy.duckduckgo.com.png]
row=1
col=0

[/home/f9kill/Desktop/Screenshot_2019-07-13_18-32-20.png]
row=3
col=0

