[Desktop Entry]
Version=1.0
Exec=tor-browser
Icon=/opt/tor-browser_en-US/Browser/browser/chrome/icons/default/default64.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Tor Browser
Comment=Navegador da rede tor
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
Path=
